<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Графики</title>



    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <body>
    <!-- Header -->
    <section id="header">
        <div class="header containerhead">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero">
                        <h1><span>T</span>rand <span>M</span>aster</h1>
                    </a>
               </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="#hero" data-after="Home">на главную страницу</a></li>
                        <li><a href="#services" data-after="Service">О чем наш проект</a></li>
                        <li><a href="#projects" data-after="Projects">Анализ данных</a></li>
                        <li><a href="#about" data-after="About">О создателях</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->
   
    <!-- Section name -->
    <section id="names">
        <div class="names container">
            <h1 class="section-title">А<span>нализ</span>датасета</h1>
        </div>
    </section>
    <!-- End section name -->

    <!-- Hero Section -->
    <section id="hero">
        <div class="hero container">
            <div class="chart-container">
                
        <h2 class="section-title">Размерность датасета: {{ dataset_shape }}<span>.</span></h2>
<p>
    <h2 class="section-title">Просмотр среза данных</h2>
    <pre>{{ dataset_head }}</pre>
    <h2 class="section-title">Статистическая сводка атрибутов<span>.</span></h2>
    <pre>{{ dataset_description }}</pre>
    <h2 class="section-title">Разбивка данных по атрибуту класса<span>.</span></h2>
    <p>{{ class_distribution }}</p>

    <h2 class="section-title">Распределение классов</h2>
    <pre>{{ class_distribution }}</pre>

    <h2 class="section-title">Распределение по атрибуту Revenue</h2>
    <pre>{{ revenue_distribution }}</pre>

        <!-- Визуализации данных -->
        <div class="chart-container">
            <!-- Гистограмма -->
            <div class="chart">
                <h2 class="section-title">Гистограмма Bounce Rates</h2>
                {{ hist_plot_div | safe }}
            </div>

            <!-- Точечная диаграмма -->
            <div class="chart">
                <h2 class="section-title">Scatter Plot: Bounce Rates vs. Exit Rates</h2>
                {{ scatter_plot_div | safe }}
            </div>
            <h1>Оценка алгоритмов</h1>
            <p>Точность модели: {{ accuracy }}</p>
    </div>

    <!-- <h1>Распределение выручки</h1> -->
    <!-- <p>Давайте теперь рассмотрим количество экземпляров (строк), в зависимости от наличия или отсутствия выручки.</p>
    <pre>
# Распределение по атрибуту Revenue
print(dataset['Revenue'].value_counts())
    </pre>
    <p>Мы видим, что:</p>
    <ul>
        <li>Выручка получена в {{ revenue_distribution[1] }} случаях.</li>
        <li>Нет выручки в {{ revenue_distribution[0] }} случаях.</li>
    </ul> -->

</p>
<!-- <a href="#" class="cta">Learn More</a>  -->
 </div>

 <!-- End hero section -->
    <!-- Footer -->
    <footer id="footer">
        <div class="footer container">
            <!-- Код для подвала сайта -->
        </div>
    </footer>
    <!-- End Footer -->
</body>
</html>