<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Графики</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>
    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero">
                        <h1><span>T</span>rand <span>M</span>aster</h1>
                    </a>
               </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="#hero" data-after="Home">на главную страницу</a></li>
                        <li><a href="#services" data-after="Service">О чем наш проект</a></li>
                        <li><a href="#projects" data-after="Projects">Анализ данных</a></li>
                        <li><a href="#about" data-after="About">О создателях</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->

    <!-- Section name -->
    <section id="names">
        <div class="names container">
            <h1 class="section-title">О<span>Чем наш</span>проект</h1>
        </div>
    </section>
    <!-- End section name -->

    <!-- Hero Section -->
    <section id="hero">
        <div class="hero container">
            <div class="chart-container">
                <div class="chart">
                    <!-- Вставка сгенерированного HTML для столбчатой диаграммы -->
                    {{ bar_plot_div | safe }}
                </div>
                <p class="chart-text">Текст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммыТекст для столбчатой диаграммы</p>
            </div>
            <div class="chart-container">
                <div class="chart">
                    <!-- Вставка сгенерированного HTML для круговой диаграммы -->
                    {{ pie_plot_div | safe }}
                </div>
                <p class="chart-text">Текст для круговой диаграммы</p>
            </div>
            <div class="chart-container">
                <div class="chart">
                    <!-- Вставка сгенерированного HTML для линейной диаграммы -->
                    {{ line_plot_div | safe }}
                </div>
                <p class="chart-text">Текст для линейной диаграммы</p>
            </div>
            <div class="chart-container">
                <div class="chart">
                    <!-- Вставка сгенерированного HTML для точечной диаграммы -->
                    {{ scatter_plot_div | safe }}
                </div>
                <p class="chart-text">Текст для точечной диаграммы</p>
            </div>
            <div class="chart-container">
                <div class="chart">
                    <!-- Вставка сгенерированного HTML для круговой диаграммы по выручке -->
                    {{ pie_plot_div_revenue | safe }}
                </div>
                <p class="chart-text">Текст для круговой диаграммы по выручке</p>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->
  
    <!-- Footer -->
    <footer id="footer">
        <div class="footer container">
            <!-- Код для подвала сайта -->
        </div>
    </footer>
    <!-- End Footer -->
</body>
</html>