<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Графики</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylelearning.css') }}">
</head>
<body>
    <!-- Header -->
    <section id="header">
        <div class="header containerhead">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero">
                        <h1><span>T</span>rand <span>M</span>aster</h1>
                    </a>
               </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="#hero" data-after="Home">на главную страницу</a></li>
                        <li><a href="#services" data-after="Service">О чем наш проект</a></li>
                        <li><a href="#projects" data-after="Projects">Анализ данных</a></li>
                        <li><a href="#about" data-after="About">О создателях</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Header -->
   
    <!-- Section name -->
    <section id="names">
        <div class="names container">
            <h1 class="section-title">А<span>нализ</span>датасета</h1>
        </div>
    </section>
    <!-- End section name -->

    <!-- Hero Section -->
    <section id="hero">
        <div class="hero container">
                        <div class="chart-container">
                <h2 class="section-title">Размерность датасета: {{ dataset_shape }}<span></span></h2>
                <!-- <p>     -->
                <h3 class="section-title">Просмотр среза данных</h3>
                <pre>{{ dataset_head }}</pre>
                         </div>
      
                        <div class="chart-container">
                    <h3 class="section-title">Статистическая сводка атрибутов<span>.</span></h2>
                    <pre>{{ dataset_description }}</pre>
                        </div>
                        <div class="chart-container">
                    <h3 class="section-title">Разбивка данных по атрибуту класса<span>.</span></h2>
                    <pre class="section-title">{{ class_distribution }}</pre>
                        </div>
                         <div class="chart-container">
                    <h3 class="section-title">Распределение классов</h2>
                    <pre class="section-title">{{ class_distribution }}</pre>
                        </div> 
                         <div class="chart-container">
                    <h3 class="section-title">Распределение по атрибуту Revenue</h2>
                    <pre class="section-title">{{ revenue_distribution }}</pre>
                        </div>
                     <div class="chart-container">
                    <!-- Визуализации данных -->
                        <!-- Гистограмма -->
                        <div class="chart">
                            <h2 class="section-title">Гистограмма Bounce Rates</h2>
                            {{ hist_plot_div | safe }}
                        
                        <!-- Точечная диаграмма -->
                     
                       
                            <h2 class="section-title">Scatter Plot: Bounce Rates vs. Exit Rates</h2>
                            {{ scatter_plot_div | safe }}
                            </div>
                        
</div>
            <div class="chart-container">
                    <!-- Результаты модели машинного обучения -->
                            <!-- Результаты моделей машинного обучения -->
                        <div class="model-results">
                            <h2 class="section-title">Результаты моделей машинного обучения</h2>

                            <h3 class="section-title">Логистическая регрессия</h3>
                            <pre class="section-title">Точность на обучающем наборе: {{ lr_train_accuracy }}</pre>
                            <pre class="section-title">Точность на тестовом наборе: {{ lr_test_accuracy }}</pre>

                            <h3 class="section-title">Линейный дискриминантный анализ (LDA)</h3>
                            <pre class="section-title">Точность на обучающем наборе: {{ lda_train_accuracy }}</pre>
                            <pre class="section-title">Точность на тестовом наборе: {{ lda_test_accuracy }}</pre>

                            <h3 class="section-title">K-ближайших соседей (KNN)</h3>
                            <pre class="section-title">Точность на обучающем наборе: {{ knn_train_accuracy }}</pre>
                            <pre class="section-title">Точность на тестовом наборе: {{ knn_test_accuracy }}</pre>

                            <h3 class="section-title">Классификация и регрессия с помощью деревьев (CART)</h3>
                            <pre class="section-title">Точность на обучающем наборе: {{ cart_train_accuracy }}</pre>
                            <pre class="section-title">Точность на тестовом наборе: {{ cart_test_accuracy }}</pre>

                            <h3 class="section-title">Наивный байесовский классификатор (NB)</h3>
                            <pre class="section-title">Точность на обучающем наборе: {{ nb_train_accuracy }}</pre>
                            <pre class="section-title">Точность на тестовом наборе: {{ nb_test_accuracy }}</pre>

                            <h3 class="section-title">Метод опорных векторов (SVM)</h3>
                            <pre class="section-title">Точность на обучающем наборе: {{ svm_train_accuracy }}</pre>
                            <pre class="section-title">Точность на тестовом наборе: {{ svm_test_accuracy }}</pre>
                        </div>

                <!-- </p> -->
            </div>
        
    </section>
    <!-- End hero section -->
    
    <!-- Footer -->
    <footer id="footer">
        <div class="footer container">
            <!-- Код для подвала сайта -->
        </div>
    </footer>
    <!-- End Footer -->
</body>
</html>
