<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Графики</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <body>
    <!-- Header -->
    <section id="header">
        <div class="header containerhead">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero">
                        <h1><span>T</span>rand <span>M</span>aster</h1>
                    </a>
               </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="#hero" data-after="Home">на главную страницу</a></li>
                        <li><a href="#services" data-after="Service">О чем наш проект</a></li>
                        <li><a href="#projects" data-after="Projects">Анализ данных</a></li>
                        <li><a href="#about" data-after="About">О создателях</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Section name -->
    <section id="names">
        <div class="names container">
            <h1 class="section-title">М<span>онито</span>ринг</h1>
        </div>
    </section>
    <!-- End section name -->

    <!-- Hero Section -->
    <section id="hero">
        <div class="hero container">
            <div class="chart-container">
                <div class="service-item::data-after">
                    <!-- Вставка сгенерированного HTML для столбчатой диаграммы -->
                    {{ bar_plot_div | safe }}
                </div>
                <p class="chart-text">Столбчатая диаграмма, отображающая количество визитов в разных месяцах, является полезным инструментом для прогнозирования. 
                    Она позволяет идентифицировать тренды в изменении посещаемости, определить сезонные паттерны и прогнозировать будущий спрос. 
                    Кроме того, эта диаграмма помогает оценить эффективность маркетинговых кампаний и определить оптимальное время для проведения мероприятий. 
                    В целом, она предоставляет визуальную информацию о динамике посещаемости и помогает в принятии решений на основе данных о посещаемости. В частности, мы можем заметить, 
                    что в нашем случае, в мае было зафиксировано самое большое количество посещений - 3364, а в ноябре этот показатель немного снизился до 2998.</p>
            </div>
            <div class="chart-container">
                <div class="chart">
                    <!-- Вставка сгенерированного HTML для круговой диаграммы -->
                    {{ pie_plot_div | safe }}
                </div>
                <p class="chart-text">Круговая диаграмма по типу посетителей является важным инструментом в аналитике мониторинга продаж и прогнозирования поведения покупателей.
                    Круговая диаграмма помогает понять, какой процент посетителей является новыми, возвращающимися или принадлежит к другим категориям. 
                    В данном случае, по диаграмме видно, что возвращающиеся посетители составляют 85.6% от общего числа, новые посетители - 13.7%, 
                    а остальные категории составляют 0.685%. Эта информация может быть полезной для анализа эффективности маркетинговых кампаний, 
                    идентификации трендов и понимания предпочтений посетителей. Например, высокий процент возвращающихся посетителей может свидетельствовать 
                    о высоком уровне удовлетворенности клиентов и успешной стратегии удержания. С другой стороны, низкий процент новых посетителей может
                     указывать на необходимость улучшения маркетинговых усилий для привлечения новых клиентов.В данной круговой диаграмме по типу посетителей также предусмотрена интерактивность,
                      которая позволяет пользователю выбирать конкретные категории для отображения
                </p>
            </div>
            <div class="chart-container">
                <div class="chart">
                    <!-- Вставка сгенерированного HTML для линейной диаграммы -->
                    {{ line_plot_div | safe }}
                </div>
                <p class="chart-text">В контексте аналитики мониторинга продаж, линейная диаграмма может быть использована для отслеживания изменения трафика или конверсии по времени. 
                    Например, в данном случае мы рассматриваем диаграмму,
                     отражающую количество посетителей или продуктовых запросов по типам трафика (TrafficType) в течение определенного периода времени.
                     Линейная диаграмма позволяет нам анализировать динамику каждого типа трафика и выявлять интересные закономерности. Например, если мы видим, 
                     что TrafficType 2 достигает своего максимума в 3913 и затем постепенно снижается, это может указывать на то, что 
                     определенная маркетинговая кампания или источник трафика привлекает большое количество посетителей, но его эффективность со временем снижается.</p>
            </div>
            <div class="chart-container">
                <div class="chart">
                    <!-- Вставка сгенерированного HTML для точечной диаграммы -->
                    {{ scatter_plot_div | safe }}
                </div>
                <p class="chart-text">точечная диаграмма может быть использована для изучения связи между показателями, которые могут влиять на принятие решения о покупке. Например, в данном случае мы рассматриваем диаграмму, 
                    отражающую отношение между bounce rate (показатель отказов) и exit rate (показатель выходов) для каждого наблюдения. Точечная диаграмма 
                    позволяет нам анализировать распределение точек и выявлять интересные закономерности. Например, если мы видим, что в области от 0 до 0.5 
                    для bounce rate и от 0 до 0.1 для exit rate наблюдается максимальное скопление точек, это может указывать на то, что большинство пользователей
                     имеют низкие значения bounce rate и exit rate в этом диапазоне. Это может свидетельствовать
                     о высокой привлекательности и удовлетворенности сайта или страницы, что может способствовать повышению вероятности совершения покупки. 
                     Аналитика на основе точечной диаграммы позволяет нам выявлять корреляцию или взаимосвязь между различными факторами, которые могут влиять
                      на решение покупателя. Например, мы можем обнаружить, что при более низких значениях bounce rate и exit rate, вероятность совершения покупки 
                      увеличивается. 
                     Это может помочь в принятии решений по оптимизации пользовательского опыта, улучшению конверсии и повышению продаж.</p>
            </div>
            <div class="chart-container">
                <div class="chart">
                    <!-- Вставка сгенерированного HTML для круговой диаграммы по выручке -->
                    {{ pie_plot_div_revenue | safe }}
                </div>
                <p class="chart-text">Цель круговой диаграммы по выручке состоит в визуализации соотношения между категориями выручки. В данном случае,
                     у нас есть две категории: "true" (покупка совершена) и "false" (покупка не совершена). Круговая диаграмма позволяет наглядно представить 
                     долю каждой категории в общем объеме выручки.
                    Анализируя круговую диаграмму по выручке, мы можем сделать следующие выводы. Доля категории "true" составляет 15.5%, в то время как доля
                     категории "false" составляет 84.15%. Эти числа указывают на пропорцию совершенных и несовершенных покупок в общем объеме выручки.
                    Круговая диаграмма по выручке полезна для аналитики мониторинга продаж и прогнозирования поведения покупателей, поскольку она позволяет
                     наглядно представить долю успешных и неуспешных транзакций. Это может быть полезным, например,
                    при определении эффективности маркетинговых кампаний или оценке влияния определенных факторов на принятие решения о покупке.</p>
            </div>
        </div>
    </section>
 <!-- End hero name -->
    <!-- Footer -->
    <footer id="footer">
        <div class="footer container">
            <!-- Код для подвала сайта -->
        </div>
    </footer>
    <!-- End Footer -->
</body>
</html>